@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
	font-family: "Lato", sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Roboto", sans-serif !important;
}

.site-title {
	display: inline-block !important;
	color: #2d475b !important;
	font-weight: bold !important;
	font-size: 0.7em !important;
	text-transform: uppercase;
	font-family: "Roboto", sans-serif !important;
	margin-top: 16px;
}

img.logo {
	max-width: 120px;
	margin-right: 40px;
	display: inline-block" 

}

@media print {
	img.logo {
		max-width: 100px;
		/* Adjust size as needed */
		display: none;
	}

	button {
		display: none;
	}

	ul.nav {
		display: none;
	}

	a {
		display: none;
	}
}



@media (min-width: 768px) {
	.modal-xxl {
		width: 90%;
		max-width: 1200px;
		height: 1200px;
	}
}


.cke_contents {
	min-height: 600px !important;
}

.question-container {
	display: flex;
	justify-content: space-between;

}

.question {
	flex: 0 0 65%;
	margin-right: 30px;

}

.evidence-block {
	flex: 0 0 30%;
	word-wrap: break-word !important;
	overflow-wrap: break-word;
	border: 1px solid #2d475b;
	padding: 8px;

}

.control-label {
	display: none;
}

.cke_notification_warning {
	display: none;
}